<header class='p-3 w-full fixed top-0 z-50 bg-main-light'>
  <div class='flex align-middle items-center px-10 mx-auto gap-6'>
    <a 
      class='flex items-center max-h-16 text-main-dark border-r-main border-r-2 pr-6 mb-0.5'
      routerLink='/'
      routerLinkActive='text-light'
      [routerLinkActiveOptions] = '{exact: true}'
    >
      <h3 class='logo-font text-2xl'>Eden Match</h3>   
    </a>
    <nav class='flex gap-3 my-2 uppercase text-lg text-main-dark font-medium'>
      @if (accountService.currentUser()) {      
        <a 
          class='nav-link'
          routerLink='/members'
          routerLinkActive='text-light'
          [routerLinkActiveOptions] = '{exact: true}'
        >
          Matches
        </a>
        <a 
          class='nav-link'
          routerLink='/lists'
          routerLinkActive='text-light'
        >
          Lists
        </a>
        <a 
          class='nav-link'
          routerLink='/messages'
          routerLinkActive='text-light'
        >
          Messages
        </a>
      }
      <a 
        class='nav-link' 
        routerLink='/errors' 
        routerLinkActive='text-light'
      >
        Errors
      </a>
    </nav>

    @if (busyService.busyRequestCount() > 0) {
      <span class="loading loading-spinner text-main-dark"></span>
    }

    <div class='flex align-middle ml-auto gap-3'>
      @if (accountService.currentUser(); as user) {
        <div class='dropdown dropdown-end '>
          <div
            tabindex='0'
            role='button' 
            class='flex items-center text-xl gap-3 cursor-pointer' 
          >
            <img 
              [src]="user?.imageUrl || '/user.png'" 
              alt='user'
              class='w-10 h-10 rounded-full'
            >
            <span class='font-medium text-main-dark'>{{user.displayName}}</span>
          </div>
          <ul class='dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm'>
            <li>
              <a routerLink="/members/{{user.id}}">
                Edit Profile
              </a>
            </li>
            <li>
              <Button (click)='logout()'>
                Logout
              </Button>
            </li>
          </ul>
        </div>
      } @else {
        <form
          #loginForm='ngForm' (ngSubmit)='login()'
          class='flex items-center gap-3'
        >
          <input 
            [(ngModel)]='creds.email'
            name='email'
            type='text'
            class='input focus:border-main-dark hover-transition'
            placeholder='Email'
          >
          <input 
            [(ngModel)]='creds.password'
            name='password'
            type='password'
            class='input focus:border-main-dark hover-transition'
            placeholder='Password'
          >
          <button
            type='submit'
            class='btn dark-button'
          >
            Login
          </button>
        </form>
      }
    </div>
  </div>
</header>
